<!--TODO ajouter les infos et le style de la page profile d'utilisateur (utilisée par l'utilisateur et par les roles autorisés a voir les infos)-->

{% extends 'accounts/main.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static '/css/profile.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="container">
    <h3>Profil</h3>
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            {{user.first_name}} {{user.last_name}}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Adresse mail </b>: {{user.email}}</li>
            <li class="list-group-item"><b>Numéro de téléphone</b> : {{user_info.phone}}</li>
            <li class="list-group-item"><b>Adresse</b> : {{user_info.address}}</li>
            <li class="list-group-item"><b>Ville</b> : {{user_info.city}}</li>
            <li class="list-group-item"><b>Code Postal</b>: {{user_info.postal_code}}</li>
            {% if logged_user_role.role_id > 2 %}
            <li class="list-group-item">
                <a href="#" class="btn btn-primary btn-sm">Mettre à jour</a>
                <a href="#" class="btn btn-danger btn-sm">Supprimer</a></li>
            {% endif %}
        </ul>
        <div class="card-footer">
            Vu en ligne la dernière fois : {{user.last_login}}
        </div>
    </div>
</div>



{{logged_user_role.role_id}}
{% endblock %}