{% extends 'accounts/main.html' %}
{% load static %}
{% block style %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-5">
        <h3 class="text-center"> Forfaits </h3>
        <a href="{% url 'create_bundle'%}" class="btn btn-info btn-lg btn-block">Créer un Forfait</a>
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th>Nom</th>
                <th>Mettre à jour</th>
                <th>Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for i in bundles %}
            <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.name}}</td>
                <td><a href="{% url 'update_bundle' i.id%}" class="btn btn-primary">Mettre à jour</a></td>
                <td><a href="{% url 'delete_bundle' i.id%}" class="btn btn-danger">Supprimer</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}