# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\projets epitech\python_my_driving_school\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
